body {
    color: #141414;
    background: #f2f7f7;
    margin: 0;
    padding: 0;
    font-family: Segoe UI;
}

h1, h2, h3 {
    margin: 0;
}

button {
    font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    border: none;
    color: inherit;
    padding: 0;
    margin: 0;
    background: inherit;
    font-size: inherit;
}

.page-header {
    height: 75px;
    margin: 0 0 0 0;
    padding-bottom: 0;
    overflow: hidden;
    position: relative;
    background: #fff;
}

    .page-header .phc {
        height: 100%;
        margin: 0 auto;
        width: calc(100% - 24px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.pagelogos {
    text-align: left;
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 500;
    line-height: 300;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #000;
    margin: 10px 0;
}
.headerlogotext {
    -webkit-font-smoothing: antialiased;
    text-align: left;
    font-family: Segoe UI;
    font-size: 20px;
    font-weight: 500;
    line-height: 300;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
    display: flex;
    align-items: center;
    background: rgba(255,255,255,.75);
}
    .headerlogotext:hover {
        text-decoration: none;
    }
.headerlogo {
    color: inherit;
    cursor: pointer;
    display: block;
    height: 23px;
    width: 23px;
}

.headertext {
    text-align: left;
    font-family: Segoe UI;
    line-height: 20px;
    font-size: 20px;
    font-weight: 500;
    margin-left: 8px;
    color: #000;
}
    .headertext:hover {
        text-decoration: none;
    }
.headerlink {
    text-align: left;
    font-family: 'Segoe UI';
    color: inherit;
    padding: 8px 16px;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
}
    .headerlink:hover {
        text-decoration: none;
    }

.page-header .phc .link:hover {
    text-decoration: underline;
}

.spacer {
    flex-grow: 1;
}

.page-layout-container {
    background: #F0F6F6;
    flex: 1 0 auto;
}

.page-layout {
    display: flex;
    flex-grow: 1;
    margin: 0 auto;
    padding-top: 25px;
    width: calc(100% - 24px);
    margin-bottom: 40px;
}

@media screen and (min-width: 1200px) {
    .page-layout,
    .page-header .phc {
        width: calc(1200px - 24px);
    }
}

.page-layout .l {
    width: 240px;
    flex-shrink: 0;
}

.page-layout > .m {
    flex-grow: 1;
    padding: 0 0 0 12px;
}


.page-layout > .m .c {
    display: flex;
    max-width: 96%;
    align-items: flex-start;
}

    .page-layout > .m .c > div {
        background: #fff;
        border-radius: 10px;
    }

.page-layout > .m .c0 {
    flex-grow: 1;
}

.page-layout > .m .c1 {
    margin: 0 0 0 12px;
}

[dir="rtl"] .page-layout > .m .c1 {
    margin: 0 12px 0 0;
}
.mainpage {
    padding: 0 56px 40px;
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
}
.ImageParagraph-section {
    padding-top: 40px;
}
    .ImageParagraph-section .content {
        max-width: 900px;
        margin: 0 auto;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
    }
        .ImageParagraph-section img{
            height: 350px;
            width: 400px;
        }
        .ImageParagraph-section > .content .text {
            flex-grow: 1;
            margin: 0 auto;
            padding-right: 120px;
        }
            .ImageParagraph-section > .content .text .title {
                color: #252525;
                font-family: Segoe UI;
                margin: 0;
                font-weight: 700;
                opacity: .95;
                margin-top: 20px;
                font-size: 28px;
                text-align: left;
                margin-bottom: 0;
                line-height: 34px;
                padding: 0 0 2px;
            }

            .ImageParagraph-section > .content .text .paragraph {
                margin-bottom: 10px;
                color: #252525;
                font-family: Segoe UI;
                font-size: 16px;
                font-weight: 400;
                max-width: 80%;
                text-align: left;
                line-height: 20px;
                padding: 12px 0 0;
            }

        .ImageParagraph-section > .content .revtext {
            flex-grow: 1;
            margin: 0 auto;
            padding-left: 120px;
        }
            .ImageParagraph-section > .content .revtext .revtitle {
                color: #252525;
                font-family: Segoe UI;
                margin: 0;
                font-weight: 700;
                opacity: .95;
                margin-top: 20px;
                font-size: 28px;
                text-align: left;
                margin-bottom: 0;
                line-height: 34px;
                padding: 0 0 2px;
            }
            .ImageParagraph-section > .content .revtext .revparagraph {
                margin-bottom: 10px;
                color: #252525;
                font-family: Segoe UI;
                font-size: 16px;
                font-weight: 400;
                max-width: 80%;
                text-align: left;
                line-height: 20px;
                padding: 12px 0 0;
            }
.calc-btn {
    height: 40px;
    width: 100px;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    color: #252525;
    padding: 6px;
    text-align: center;
    border: 1px solid #252525;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
}

    .calc-btn:hover {
        color: inherit;
        text-decoration: none;
        border: 1px solid #eeeeee;
        background-color: #eeeeee;
    }

.revcalc-btn {
    height: 40px;
    width: 100px;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    color: #252525;
    padding: 6px;
    text-align: center;
    border: 1px solid #eeeeee;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    background-color: #eeeeee;
}

    .revcalc-btn:hover {
        color: inherit;
        text-decoration: none;
        border: 1px solid #252525;
        background-color: white;
    }
.mainnav {
    border-radius: 10px;
    background: #fff;
    padding: 0;
}

.calc-list {
    color: #252525;
    font-family: Segoe UI;
    font-size: 14px;
    font-weight: 400;
    max-width: 100%;
    text-align: left;
    line-height: 20px;
}
    .calc-list > a {
        color: inherit;
        border-radius: 5px;
        display: block;
        padding: 12px 16px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: 0.2s;
    }
    .calc-list a:hover {
        color: inherit;
        background-color: #eeeeee;
        text-decoration: none;
    }
        .calc-list a img {
            width: 24px;
            margin-right: 8px;
            opacity: .8;
        }
    .calc-list .separator {
        background: #d8d8d8;
        margin: 0 12px;
        height: 1px;
    }




    .page-layout > .m .c1 {
        margin: 12px 0 0 0;
    }
}

@media screen and (max-width: 600px) {
    .page-layout .l {
        display: none;
    }

    .page-layout > .m {
        padding: 0;
    }

        .page-layout > .m .c {
            flex-direction: row;
            align-items: flex-start;
        }

        .page-layout > .m .c1 {
            margin: 0 0 0 12px;
        }
}

@media screen and (max-width: 600px) {
    .page-layout > .m {
        width: calc(100vw - 24px);
    }

        .page-layout > .m .c {
            flex-direction: column;
            align-items: unset;
        }

        .page-layout > .m .c1 {
            margin: 12px 0 0 0;
        }

    .page-header .phc {
        width: 100%;
    }

        .page-header .phc .ham {
            display: block;
        }

        .page-header .phc .link {
            display: none;
        }
}

canvas {
    width: 400px;
    height: 300px;
}

canvas img {
    max-width: 300px; 
    max-height: 300px;
}

footer {
    display: block;
}

.SiteFooter {
    background: white;
    flex-shrink: 0;
}
    .SiteFooter .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: end;
        margin: 0 auto;
        padding: 20px;
        align-items: center;
    }

    .SiteFooter .content {
        display: -webkit-flex;
        display: -moz-box;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
        .SiteFooter .content ul {
            padding: 0;
            list-style: none;
            list-style-position: outside;
            list-style-type: none;
            text-align: left;
            margin: 12px 0 3px;
        }
            .SiteFooter .content ul li {
                list-style: none;
                list-style-position: outside;
                list-style-type: none;
                font-size: 11px;
                line-height: 16px;
                display: inline-block;
                padding: 0 24px 4px 0;
            }
        .SiteFooter .content a {
            text-decoration: none;
            color: inherit;
        }

.page-layout-container {
    background: #F0F6F6;
    flex: 1 0 auto;
}
.next1 {
    display: flex;
    flex-direction: column;
    height: 100vh
}
#next {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.input1 {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.select1 {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
}
.approx {
    display: grid;

}
    .approx input {
        background-color: white;
        font-size: 14px;
        margin-bottom: 20px;
    }

.solve {
    height: 150px;
    width: 775px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #252525;
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 500;
}

.solve-text {
    color: #252525;
    font-family: Segoe UI;
    font-size: 18px;
    font-weight: 400;
}
    .solve-text s {
        font-weight: 500;
    }

.label-text {
    color: #252525;
    font-family: Segoe UI;
    font-size: 15px;
    font-weight: 400;
}

#textContainer {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

.slide-down {
    opacity: 1;
    height: auto;
}

#toggleButton {
    height: 40px;
    width: 100px;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    color: #252525;
    padding: 6px;
    text-align: center;
    border: 1px solid #252525;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
    margin-bottom: 20px;
}

    #toggleButton:hover {
        color: inherit;
        text-decoration: none;
        border: 1px solid #eeeeee;
        background-color: #eeeeee;
    }

    #toggleButton:focus {
        outline: none;
    }

#hiddenTextContainer {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

#hiddenText {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#hiddenTextContainer2 {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

#hiddenText2 {
    opacity: 0;
    transition: opacity 0.3s ease;
}

#toggleButton2 {
    height: 40px;
    width: 100px;
    font-family: Segoe UI;
    font-size: 16px;
    font-weight: 400;
    color: #252525;
    padding: 6px;
    text-align: center;
    border: 1px solid #252525;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
    background-color: white;
    margin-bottom: 20px;
}

    #toggleButton2:hover {
        color: inherit;
        text-decoration: none;
        border: 1px solid #eeeeee;
        background-color: #eeeeee;
    }

    #toggleButton2:focus {
        outline: none;
    }

.div-btns {
    display: flex;
    margin-right: 75px;
    justify-content: space-between
}

.nav-back {
    background-color: #d7d7d7
}